<nav class="admin-navbar">
    <div class="logo-name">
      <span class="logo_name">ADMIN</span>
    </div>
  
    <div class="menu-items">
      <ul class="nav-links">
        <li>
          <a href="/admin">
            <i class="uil uil-estate"></i>
            <span class="link-name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/analytics">
            <i class="uil uil-chart"></i>
            <span class="link-name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="/admin/donate">
            <i class="uil uil-heart"></i>
            <span class="link-name">Donations</span>
          </a>
        </li>
        <li>
          <a href="/feedbacks">
            <i class="uil uil-comments"></i>
            <span class="link-name">Feedback</span>
          </a>
        </li>
        <li>
          <a href="/admin/profile">
            <i class="uil uil-user"></i>
            <span class="link-name">Profile</span>
          </a>
        </li>
      </ul>
  
      <ul class="logout-mode">
        <li><a href="/logout"><i class="uil uil-signout"></i> <span class="link-name">Logout</span></a></li>
        <li class="mode" id="darkModeToggle">
          <a href="#"><i class="uil uil-moon" id="theme-icon"></i><span class="link-name">Dark Mode</span></a>
          <div class="mode-toggle"><span class="switch"></span></div>
        </li>
        
      </ul>
    </div>
  </nav>
  