<!-- Header -->
<header>
    <div class="logo">Food <b>Save</b></div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a href="/home" class="<%= (activePage === 'home') ? 'active' : '' %>">Home</a></li>
        <li><a href="/about" class="<%= (activePage === 'about') ? 'active' : '' %>">About</a></li>
        <li><a href="/contact" class="<%= (activePage === 'contact') ? 'active' : '' %>">Contact</a></li>
        <li><a href="/profile" class="<%= (activePage === 'profile') ? 'active' : '' %>">Profile</a></li>
      </ul>
    </nav>
  </header>
  