<div class="navbar">
    <div class="navbar-brand">
      <h3>Food <span class="hed">Save</span></h3>
    </div>
    <div class="navbar-links">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/orders">Order Status</a>
      <a href="/contact">Contact Us</a>
    </div>
  </div>
  