<nav class="nav-bar">
    <div class="nav-title">FoodSave Receiver</div>
    <div class="nav-links">
      <a href="/receiver-dashboard">Dashboard</a>
      <a href="/Rpickups">Pickups</a>
      <a href="/notifications">Notifications</a>
      <a href="/Rprofile">Profile</a>
    </div>
  </nav>
  