<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin Dashboard Panel</title>
</head>

<body>
    <!-- Include Navbar -->
    <%- include('partials/analyticsNavbar') %>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <p class="logo">Food <b style="color: #06C167;">Donate</b></p>
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-chart"></i>
                    <span class="text">Analytics</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-user"></i>
                        <span class="text">Total users</span>
                        <span class="number"><%= totalUsers %></span> <!-- Dynamic value -->
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Feedbacks</span>
                        <span class="number"><%= totalFeedbacks %></span> <!-- Dynamic value -->
                    </div>
                    <div class="box box3">
                        <i class="uil uil-heart"></i>
                        <span class="text">Total donations</span>
                        <span class="number"><%= totalDonations %></span> <!-- Dynamic value -->
                    </div>
                </div>
                <br><br>

                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                <br>
                <canvas id="donateChart" style="width:100%;max-width:600px"></canvas>
              
                
            </div>
        </div>
    </section>

    <script src="/js/adm.js"></script>
</body>
</html>
