<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/st.css" />
</head>
<body>
  <%- include('partials/donorNavbar') %>
  <!-- Dashboard Content -->
  <div class="main-content">
     <!-- Show donor's name if logged in as a donor -->
     <% if (user && user.role === 'donor') { %>
      <h2>Welcome Back, <%= user.name %>!</h2>
    <% } else { %>
      <h2>Welcome, Guest!</h2>
    <% } %>
    <div class="nav-buttons">
      <a href="/food-donate" class="nav-button">
        <i class="fas fa-utensils"></i> Donate Food
      </a>
      <a href="/history" class="nav-button">
        <i class="fas fa-clock-rotate-left"></i> Donation History
      </a>
      <a href="/schedule" class="nav-button">
        <i class="fas fa-truck"></i> Scheduled Pickups
      </a>
      <a href="/stats" class="nav-button">
        <i class="fas fa-chart-line"></i> My Stats
      </a>
      
      <a href="/availability" class="nav-button">
        <i class="fas fa-calendar-check"></i> Availability
      </a>
      <a href="/orders" class="nav-button">
        <i class="fas fa-box-open text-success"></i> Orders
      </a>
      <a href="/donor-feedback" class="nav-button">
        <i class="material-icons">feedBack Submit's</i> <!-- Feedback Icon -->

      </a>
      <a href="/notifications" class="nav-button">
        <i class="fa-solid fa-bell"></i>
        Notifications
      </a>
    </div>
  </div>

</body>
</html>
